<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>uicCourse</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
    <style type="text/css">
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        /* Custom page CSS
        -------------------------------------------------- */

    </style>
    {% load static %}
</head>

<body>
{% include "index/header.html" %}
{% include "index/messager.html" %}
<main role="main" class="container mb-5">
    <h1 class="mt-md-3">Search</h1>
    <form class="my-2">
          <input class="form-control" type="text" placeholder="Search course" autocomplete="off" name="search" value="{{ raw_input }}">
    </form>
    {% if search_result %}
    <p class="my-2">find {{search_result|length}} matched result(s)</p>
    <div class="card-columns">
    {% for course in search_result %}
    <a href="{% url 'course_detail' course.id %}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><span class="badge badge-secondary">{{course.course_id}}</span> {{course.course_name_en}}</h5>
                <p class="card-text">{{course.course_name_cn}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
    </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">No result</h1>
        </div>
    </div>
    {% endif %}
</main>
{% include "index/footer.html" %}
</body>
</html>
