{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Search{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
<main role="main" class="container mb-5">
    <h1 class="mt-md-3">Search</h1>
    <form class="my-2">
          <input class="form-control" type="text" placeholder="Search course" autocomplete="off" name="search" value="{{ raw_input }}">
    </form>
    {% if search_result %}
    <p class="my-2">find {{search_result|length}} matched result(s)</p>
            <div class="row" data-masonry='{"percentPosition": true }'>
            {% for course in search_result %}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><span
                                    class="badge bg-secondary">{{ course.course_id }}</span> {{ course.course_name_en }}
                            </h5>
                            <p class="card-text">{{ course.course_name_cn }}</p>
                            <p class="card-text"><small class="text-muted">{{ course.course_description }}</small></p>
                            <a href="{% url 'course_detail' course.id %}" class="stretched-link">Check Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <p class="my-2">No result, try another query.</p>
    {% endif %}
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block out_of_body %}{% endblock %}
