<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Account Detail | Course Index</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link href="{% static "course/css/login_page.css" %}" rel="stylesheet">
    <style>
        html, body {
            overflow-x: hidden; /* Prevent scroll on narrow devices */
        }

        .text-white-50 {
            color: rgba(255, 255, 255, .5);
        }

        .orange-pink {
            background: #FF5579;
            background: -webkit-gradient(linear, left top, left bottom, from(#FF7C5A), to(#FF5579));
            background: -webkit-linear-gradient(#FF7C5A, #FF5579);
            background: -o-linear-gradient(#FF7C5A, #FF5579);
            background: linear-gradient(#FF7C5A, #FF5579);
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        .lh-100 {
            line-height: 1;
        }

        .lh-125 {
            line-height: 1.25;
        }


    </style>
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home_page' %}">UIC Course Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'course_list' %}">Course</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">{{ user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        {% if user.is_superuser %}
                            <h6 class="dropdown-header">Admin function</h6>
                            <a class="dropdown-item" href="{% url 'dashboard_interface' %}">Dashboard</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <h6 class="dropdown-header">Account Relative</h6>
                        <a class="dropdown-item" href="{% url 'account_info_view' %}">Account Information</a>
                        <a class="dropdown-item" href="{% url 'logout_receiver' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% else %}
                {% if message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% else %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {% endif %}
                {% endif %}
            {% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
    {% endif %}
    <br>
    {% if aim_user.is_staff or aim_user.is_superuser or aim_user.groups.all.0.name == "course_master" %}
        {% if user.is_staff or user.is_superuser or user.groups.all.0.name == "course_master" %}
            <div class="d-flex align-items-center p-3 my-3 text-white-50 orange-pink rounded box-shadow">
                <div class="lh-100" style="width: 100%;">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="mb-0 text-white lh-100">{{ aim_user.first_name }}
                            <b>{{ aim_user.last_name | upper }}</b>
                        </h3>
                        <h3 class="mb-0 text-white lh-100"># {{ aim_user.id }}</h3>
                    </div>
                    <h4 style="margin-bottom: 0;">@ {{ aim_user.username }}</h4>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Basic Info</h6>
                <div class="media text-muted pt-3">
                    <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                         src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/account-login.svg">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">Date Join:</strong>
                        {{ aim_user.date_joined }}
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                         src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/badge.svg">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">Permissions:</strong>
                        {% if aim_user.is_active %}
                            <span class="badge badge-success">ACTIVE</span>
                        {% else %}
                            <span class="badge badge-danger">Unable to login</span>
                        {% endif %}
                        {% if aim_user.is_staff %}
                            <span class="badge badge-info">STAFF</span>
                        {% endif %}
                        {% if aim_user.is_superuser %}
                            <span class="badge badge-warning">SUPERUSER</span>

                        {% endif %}
                        {% if aim_user.groups.all.0.name == "course_master" %}
                            <span class="badge badge-dark">COURSE MANAGER</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Others</h6>
                <div class="media text-muted pt-3">
                    <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                         src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/layers.svg">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">His/Her Comment(s)</strong>
                            <a href="{% url 'view_your_comment' aim_user.id %}">Go</a>
                        </div>
                        <span class="d-block">他 / 她的评论</span>
                    </div>
                </div>
            </div>
            </div>
        {% else %}
            <div class="d-flex align-items-center p-3 my-3 text-white-50 orange-pink rounded box-shadow">
                <div class="lh-100" style="width: 100%;">
                    <div class="d-flex justify-content-center align-items-center">
                        <h3 class="mb-0 text-white lh-100">You do not have access to this user's information</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="d-flex align-items-center p-3 my-3 text-white-50 orange-pink rounded box-shadow">
            <div class="lh-100" style="width: 100%;">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 text-white lh-100">{{ aim_user.first_name }}
                        <b>{{ aim_user.last_name | upper }}</b>
                    </h3>
                    <h3 class="mb-0 text-white lh-100"># {{ aim_user.id }}</h3>
                </div>
                <h4 style="margin-bottom: 0;">@ {{ aim_user.username }}</h4>
            </div>
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Basic Info</h6>
            <div class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                     src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/account-login.svg">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">Date Join:</strong>
                    {{ aim_user.date_joined }}
                </p>
            </div>
            <div class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                     src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/badge.svg">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">Permissions:</strong>
                    {% if aim_user.is_active %}
                        <span class="badge badge-success">ACTIVE</span>
                    {% else %}
                        <span class="badge badge-danger">Unable to login</span>
                    {% endif %}
                    {% if aim_user.is_staff %}
                        <span class="badge badge-info">STAFF</span>
                    {% endif %}
                    {% if aim_user.is_superuser %}
                        <span class="badge badge-warning">SUPERUSER</span>

                    {% endif %}
                    {% if aim_user.groups.all.0.name == "course_master" %}
                        <span class="badge badge-dark">COURSE MANAGER</span>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Others</h6>
            <div class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                     src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/layers.svg">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">His/Her Comment(s)</strong>
                        <a href="{% url 'view_your_comment' aim_user.id %}">Go</a>
                    </div>
                    <span class="d-block">他 / 她的评论</span>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2018 UIC HCC Computer Society</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
{% load static %}
<script src="{% static "js/popper.min.js" %}"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>