{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}{{ major.major.major_en_abbr }} - {{ admission_year }} Admission Handbook{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
    <main role="main" class="container mb-5" style="position: relative; overflow: hidden">
    {% if is_valid %}
    <h1 class="mt-md-3">{{ major.major.major_en_abbr }} - {{ admission_year }} Admission Handbook</h1>
    <p class="lead">Public Beta</p>
    <p>All information is collected from the Internet (AR's Website), for reference only.</p>
    {% for key, value in handbook_info.items %}
    <div>
        <h4>{{ key }}</h4>
        <table class="table table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col">Item</th>
                <th scope="col" class="text-center align-middle" style="width: 16.66%">Unit(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in value %}
            <tr>
                <th>{{ i.title_en }}{% if i.is_course_category %} <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" data-html="true" title="This denotes a course category in which a list of courses may be developed for students’ selection. Students are expected to refer to the Online Course Selection System for courses available under each category."></i>{% endif %}
                {% if i.comment != '' %}
                     <i class="fa fa-commenting" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ i.comment }}"></i>
                {% endif %}
{#                {% if material.title_cn %}#}
                    <div class="small text-muted">{{ i.title_cn }}</div>
{#                {% endif %}#}
                </th>
                <td class="text-center align-middle">{{ i.unit }}</td>
            </tr>
            {% endfor %}
            <tr class="table-secondary">
                <th>Total:</th>
                <th class="text-center align-middle">{% for k, v in unit.items %}{% if k == key %}{{ v }}{% endif %}{% endfor %}</th>
            </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
    {% else %}
    <h1 class="mt-md-3">Not a valid major or admission year</h1>
    <a href="{% url "handbook_home" %}" class="lead">Back home ></a>
    {% endif %}
</main>

{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block out_of_body %}{% endblock %}