<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>uicCourse</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style type="text/css">
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        /* Custom page CSS
        -------------------------------------------------- */

    </style>
    {% load static %}
</head>

<body>
{% include "index/header.html" %}
{% include "index/messager.html" %}
<main role="main" class="container mb-5">
    <h1 class="mt-md-3">uicCourse</h1>
    <p class="lead">For a more transparent future.</p>
    <p>All information is collected from the Internet (AR's Website), for reference only.</p>
    <div class="card-deck mt-md-5">
    {% if latest_notice %}
    {% for notice in latest_notice %}
        <div class="card">
            <div class="card-header">Notice</div>
            <div class="card-body">
                <h5 class="card-title">{{notice.title}}</h5>
                <p class="card-text">{{notice.content}}</p>
                <p class="card-text"><small class="text-muted">Last updated: {{notice.update_time}}</small></p>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="card">
            <div class="card-header">No Notice yet</div>
        </div>
    {% endif %}
    </div>
</main>
{% include "index/footer.html" %}
</body>
</html>
