{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Course Form{% endblock %}

{% block head_extends %}
    <style>
    .invalid-message{
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>
{% endblock %}

{% block body %}
    <main role="main" class="container mb-5">
    <h1 class="mt-md-3">Create/Modify Course</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class+="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="invalid-message">
                    {{ error }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}
{% endblock %}

{% block out_of_body %}{% endblock %}