<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ coursedata.course_name_en }} | Course Index</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link href="{% static "course/css/login_page.css" %}" rel="stylesheet">
  <style>
          html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
      </style>
</head>
  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home_page' %}">UIC Course Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home_page' %}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'course_list' %}">Course <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ userdata.username }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                    {% if userdata.is_superuser %}
                    <h6 class="dropdown-header">Admin function</h6>
                    <a class="dropdown-item" href="{% url 'invitation_code' %}">Invitation Code</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <h6 class="dropdown-header">Account Relative</h6>
                    <a class="dropdown-item" href="{% url 'account_info_view' %}">Account Information</a>
                    <a class="dropdown-item" href="{% url 'logout_receiver' %}">Logout</a>
                </div>
                </li>
            </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% else %}
                {% if message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% else %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {% endif %}
                {% endif %}
            {% endif %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
        <br>


<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded box-shadow">
        <div class="lh-100" style="width: 100%;">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mb-0 text-white lh-100">{{ coursedata.course_code | upper }}: {{ coursedata.course_name_en }}</h1>
            </div>
          <h2 class="text-white" style="margin-bottom: 0;">{{ coursedata.course_name_cn }}</h2>
        </div>
      </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Basic Info</h6>
        <div class="media text-muted pt-3">
            <img src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/code.svg" class="mr-2 rounded" style="width: 32px; height: 32px;">
          <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Course Code</strong>
            {{ coursedata.course_code | upper }}
          </p>
        </div>
        <div class="media text-muted pt-3">
            <img src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/box.svg" class="mr-2 rounded" style="width: 32px; height: 32px;">
          <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Course Class</strong>
            {{ coursedata.course_class | upper }}
          </p>
        </div>
        <div class="media text-muted pt-3">
            <img src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/lightbulb.svg" class="mr-2 rounded" style="width: 32px; height: 32px;">
          <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Course Units</strong>
            {{ coursedata.course_units }}
          </p>
        </div>
        <div class="media text-muted pt-3">
        <img src="https://cdn.bootcss.com/open-iconic/1.1.1/svg/info.svg" class="mr-2 rounded" style="width: 32px; height: 32px;">
          <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Course Descriptions</strong>
            {{ coursedata.course_descriptions }}
          </p>
        </div>
        <small class="d-block text-right mt-3">
        {% if userdata.groups.all.0.name == "course_master" %}
            <a href="{% url 'course_detail_edit' coursedata.id %}">Update Information</a> | <a href="javascript:AlertIt();">Delete This course</a>
        {% endif %}
        </small>
      </div>

    <br>
    <div class="card">
    <div class="card-header text-white bg-dark">Course Comments</div>
    <div class="card-body">
        {% if coursecomments %}
            <div class="card-columns">
            {% for comment in coursecomments %}
                {% if comment.is_banned %}
                {% else %}
                    <div class="card {% if comment.is_recommend %} border-danger {% endif %}">
                    {% if userdata.groups.all.0.name == "course_master" %}
                        <div class="card-header">
                            <p class="card-text">#{{ comment.id }}</p>
                        </div>
                    {% endif %}
                        <div class="card-body {% if comment.is_recommend %} text-danger {% endif %} ">
                            <p>{{ comment.content }}</p>
                            <footer class="blockquote-footer">{{ comment.sender }} <cite>{{ comment.pub_date }}</cite></footer>
                        </div>
                    {% if userdata.groups.all.0.name == "course_master" %}
                        <div class="card-footer">
                            {% if comment.is_banned %}
                                <button class="btn btn-success btn-sm" disabled>Undo-Ban</button>
                            {% else %}
                                <button class="btn btn-danger btn-sm" disabled>Ban</button>
                            {% endif %}
                            {% if comment.is_recommend %}
                                <button class="btn btn-success btn-sm" disabled>Undo-Recommend</button>
                            {% else %}
                                <button class="btn btn-success btn-sm" disabled>Recommend</button>
                            {% endif %}
                        <button class="btn btn-warning btn-sm" disabled>Delete</button>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% else %}
        <p class="card-text text-center">No comment here. You can add your comment for this course</p>
        {% endif %}
    </div>
    </div>
        <br>
    <button class="btn btn-primary" disabled>Comment</button>
    </main>
<br>
    <br>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2018 UIC HCC Computer Society</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
    {% load static %}
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function AlertIt() {
            var answer = confirm("Are you sure you want to delete this course record?");
            if (answer) {
                window.location = "{% url 'course_delete' coursedata.id %}"
            }
        }
    </script>
  </body>
</html>