<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign up | Course Index</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link href="{% static "course/css/login_page.css" %}" rel="stylesheet">
    <style>
        body {
            background-image: url("https://www.ecwuuuuu.com/wallpaper/");
            background-size: cover;
        }

        .site-wrapper-inner {
            position: fixed;
            width: 100%;
            height: 100%;
        }

        .signup-card {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
<div class="site-wrapper-inner" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex p-2">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% else %}
                        {% if message.tags == 'warning' %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% else %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% else %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="card text-white bg-dark mb-3 signup-card" style="width: 412px;">
                <div class="card-body">
                    <h4 title="card-title">Signup to uicCourse</h4>
                    <br>
                    <form action="{% url 'signup_receiver' %}" method="post" id="id_signup_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" id="id_email">
                            <label id="id_email_label"></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username"
                                   id="id_username">
                            <label id="id_username_label"></label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                   id="id_password">
                            <label id="id_password_label"></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Invitation code" name="invitationcode"
                                   id="id_invitationcode">
                            <label id="id_invitationcode_label"></label>
                        </div>
                        <button type="submit" class="btn btn-success" id="submit_btn" disabled="disabled">Sign up</button>
                        <a href="{% url 'home_page' %}" class="btn btn-primary">Back</a>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <a href="https://uichcc.com">
                            <img src="https://uichcc.com/img/uichccwhite.svg" style="height: 30px; margin-left: 1rem;"
                                 title="UIC HCC Computer Society">
                        </a>
                        <span class="d-flex align-items-center text-white" style="margin-left: 1rem;: ">uicCourse
                        <span class="badge badge-warning" style="margin: 0 0.5rem;" data-toggle="tooltip"
                              data-placement="right" title="Login is required.">
                        Early Access
                        </span>
                    </span>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<script src="{% static "js/popper.min.js" %}"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
<script src="https://cdn.bootcss.com/core-js/2.4.1/core.js"></script>
<script>
    function isEmail(email) {
        var regex = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
        return regex.test(email);
    }

    function isPasswordValid(password) {
        var regex =/^(?!([a-zA-Z]+|\d+)$)[a-zA-Z\d]{8,20}$/;
        return regex.test(password)
    }

    $("#id_email").change(function () {
        var email = $(this).val();

        $.ajax({
            url: '{% url 'validate_email' %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#id_email").removeClass('is-valid');
                    $("#id_email").addClass('is-invalid');
                    $("#id_email_label").html('<span class="text-danger">A user with this email already exists.</span>');
                } else {
                    if(isEmail($("#id_email").val())){
                        $("#id_email").removeClass('is-invalid');
                        $("#id_email").addClass('is-valid');
                        $("#id_email_label").html('<span class="text-success">This email is ready to go.</span>');
                    }else{
                        $("#id_email").removeClass('is-valid');
                        $("#id_email").addClass('is-invalid');
                        $("#id_email_label").html('<span class="text-danger">Wrong email format.</span>');
                    }
                }
            }
        });
    });

    $("#id_username").change(function () {
        var username = $(this).val();

        $.ajax({
            url: '{% url 'validate_user' %}',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $("#id_username").removeClass('is-valid');
                    $("#id_username").addClass('is-invalid');
                    $("#id_username_label").html('<span class="text-danger">This username already exists.</span>');
                } else {
                    if($("#id_username").val() != ''){
                        $("#id_username").removeClass('is-invalid');
                        $("#id_username").addClass('is-valid');
                        $("#id_username_label").html('<span class="text-success">This username is ready to go.</span>');
                    }else{
                        $("#id_username").removeClass('is-valid');
                        $("#id_username").addClass('is-invalid');
                        $("#id_username_label").html('<span class="text-danger">Username cannot be empty.</span>');
                    }
                }
            }
        });
    });

    $("#id_invitationcode").change(function () {
        var invitationcode = $(this).val();

        $.ajax({
            url: '{% url 'validate_invitationcode' %}',
            data: {
                'invitationcode': invitationcode
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_valid) {
                    $("#id_invitationcodee").removeClass('is-invalid');
                    $("#id_invitationcode").addClass('is-valid');
                    $("#id_invitationcode_label").html('<span class="text-success">This Invitation Code is valid.</span>');
                } else {
                    $("#id_invitationcode").removeClass('is-valid');
                    $("#id_invitationcode").addClass('is-invalid');
                    $("#id_invitationcode_label").html('<span class="text-danger">This Invitation Code is invalid.</span>');
                }
            }
        });
    });
    $("#id_password").change(function (){
        if(isPasswordValid($("#id_password").val())){
            $("#id_password").removeClass('is-invalid');
            $("#id_password").addClass('is-valid');
            $("#id_password_label").html('<span class="text-success">The password is in the correct format.</span>');
        }else{
            $("#id_password").removeClass('is-valid');
            $("#id_password").addClass('is-invalid');
            $("#id_password_label").html('<span class="text-danger">Wrong password format. The password length is 8-20, you need to include both numbers and letters.</span>');
        }
    });
    $("#id_signup_form").change(function () {
        setTimeout(function (){
            if($("#id_signup_form").html().indexOf("is-invalid") > 0){
                $("#submit_btn").attr("disabled", "disabled")
            }else{
                $("#submit_btn").removeAttr("disabled")
            }
        }, 100);
    })
</script>
</body>
</html>