<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login request | Course Index</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link href="{% static "course/css/login_page.css" %}" rel="stylesheet">
      <style>
          body{
              background-image: url("https://www.ecwuuuuu.com/wallpaper/");
              background-size: cover;
          }
          .site-wrapper-inner {
              position:fixed;
              width: 100%;
              height: 100%;
            }
      </style>
</head>
  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">UIC Course Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'course_list' %}">Course</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
<div class="site-wrapper-inner" style="background-color: rgba(0, 0, 0, 0.7);">
    <!-- Begin page content -->
    <main role="main" class="container">
        {% if errormessage != NULL %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ errormessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
    <br>
      <h1 class="mt-5 text-white">UIC Index</h1>
      <small class="text-secondary">For a more transparent future</small>
      <hr style="border-color: #FFFFFF;">
<div class="row">
    <div class="col-8">
        <h4 class="text-white">Sorry, this site is still under construction.<br>Login is required.</h4>
        <p class="text-white">This is a course database for Beijing Normal University - Hong Kong Baptist University United International College.</p>
        <p class="text-white">This site is develop and maintain by <a href="uichcc.com">UIC HCC Computer Society</a>, If you want to get a test account, please feel free to contact us.</p>
        <a href="mailto:hi@uichcc.com">Our Email: hi@uichcc.com</a>
        </div>
    <div class="col-4">
<div>
      <form action="{% url 'login_receiver' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="text-white">Username</label>
            <input type="text" class="form-control" placeholder="ID" name="username">
          </div>
          <div class="form-group">
            <label class="text-white">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
</div>
    </main>
</div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2018 UIC HCC Computer Society</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
    {% load static %}
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>