<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>uicCourse | Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style type="text/css">
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        /* Custom page CSS
        -------------------------------------------------- */

    </style>
    {% load static %}
</head>

<body>
{% include "index/header.html" %}
{% include "index/messager.html" %}
<main role="main" class="container mb-5">
    <h1 class="mt-md-3">Course Type</h1>
    {% include "dashboard/functions.html" %}
    <div class="table-responsive">
        <table class="table">
            <caption class="m-2"><a href="/admin/course/coursetype/">Modify Course Type Information</a></caption>
            <thead>
                <tr>
                    <th scope="col">Type Name</th>
                    <th scope="col">Abbr</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in pairs %}
                <tr>
                    <td>{{ pair.name }}</td>
                    <td>{{ pair.name_abbr }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% include "index/footer.html" %}
</body>
</html>
