{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Course Type{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
    <main role="main" class="container mb-5">
    <h1 class="mt-md-3">Course Type</h1>
    {% include "dashboard-functions.html" %}
    <div class="table-responsive">
        <table class="table">
            <caption class="m-2"><a href="/admin/course/coursetype/">Modify Course Type Information</a></caption>
            <thead>
                <tr>
                    <th scope="col">Type Name</th>
                    <th scope="col">Abbr</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in pairs %}
                <tr>
                    <td>{{ pair.name }}</td>
                    <td>{{ pair.name_abbr }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block out_of_body %}{% endblock %}
