{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Major & Division{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
<main role="main" class="container mb-5">
    <h1 class="mt-md-3">Major & Division</h1>
    {% include "dashboard-functions.html" %}
    <div class="table-responsive">
        <table class="table">
            <caption class="m-2"><a href="/admin/course/">Modify Major or Division Information</a></caption>
            <thead>
                <tr>
                    <th scope="col">Major</th>
                    <th scope="col">Division</th>
                </tr>
            </thead>
            <tbody>
                {% for pair in pairs %}

                <tr>
                    <td>{{ pair.major }}</td>
                    <td>{{ pair.division }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block out_of_body %}{% endblock %}
