{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Notice{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
<main role="main" class="container mb-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-md-3">Notice</h1>
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'notice_create' %}" class="btn btn-primary">Create New Notice</a>
        {% endif %}
    </div>
    {% include "dashboard-functions.html" %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Publish Time</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if notices %}
                    {% for notice in notices %}
                    <tr>
                        <td>{{ notice.title }}</td>
                        <td>{{ notice.content }}</td>
                        <td>{{ notice.publish_date }}</td>
                        <td><a href="{% url 'notice_modify' notice.id %}">Edit</a></td>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No Record</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block out_of_body %}{% endblock %}
