{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Quick Vote Records{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
<main role="main" class="container mb-5">
    <h1 class="mt-md-3">Quick Vote Records by {{ user.username }}</h1>
    {% include "dashboard-functions.html" %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Vote as</th>
                    <th scope="col">Vote time</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                {% if votes %}
                    {% for vote in votes %}
                    <tr>
                        <td>{{ vote.course.course_name_en }}</td>
                        <td>
                        {% if vote.vote_status == True %}
                            <span class="badge bg-success">Up Vote</span>
                        {% else %}
                            <span class="badge bg-danger">Down Vote</span>
                        {% endif %}
                        </td>
                        <td>{{ vote.vote_date }}</td>
                        <td><a href="{% url 'course_detail' vote.course.id %}">Detail</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No vote record</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block out_of_body %}{% endblock %}
