{% extends 'content-ui-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Tags{% endblock %}

{% block head_extends %}
{% endblock %}

{% block body %}
<main role="main" class="container mb-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-md-3">Tags</h1>
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'tags_create' %}" class="btn btn-primary">Create New Tags</a>
        {% endif %}
    </div>
    {% include "dashboard-functions.html" %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Opposite</th>
                    <th scope="col">Index</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if tags %}
                    {% for tag in tags %}
                    <tr>
                        <td>{{ tag.tag_title }}</td>
                        <td>{{ tag.tag_description }}</td>
                        <td>
                        {% if tag.tag_opposite %}}
                        <span class="badge bg-dark">{{ tag.tag_opposite }}</span>
                        {% else %}
                        /
                        {% endif %}</td>
                        <td>
                            {% if tag.tag_sentiment_index > 0 %}
                            <span class="badge bg-success">+{{ tag.tag_sentiment_index }}</span>
                            {% else %}
                                {% if tag.tag_sentiment_index < 0 %}
                                <span class="badge bg-danger">{{ tag.tag_sentiment_index }}</span>
                                {% else %}
                                <span class="badge bg-secondary">{{ tag.tag_sentiment_index }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td><a href="{% url 'tags_modify' tag.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No Record</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

{% block footer_extends %}{% endblock %}

{% block extra_js %}{% endblock %}

{% block out_of_body %}{% endblock %}
